.product{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
}

.product_info{
    
    height: 100px;
    margin-bottom: 15px;
    text-align: left;
    margin-top: auto;
}

.product_price{
    margin-top: 5px;
}

.product_rating{
    display: flex;
}

.product_image{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    padding: auto;
}
.button_add_to_cart{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    color: black;
    border-radius: 3px;
    

}